// Testing

$primary: #e96245;
$secondary: #FBFBFB;
$dark: red;
$light: red;
$success: #7b984d;
$info: #4e353a;
$warning: #f88815;
$danger: #f44336;


@import "bootstrap/scss/bootstrap.scss"; 

// Colors
