// Testing

$primary: #324739;
$secondary: #DAB979;
$dark: rgb(22, 22, 22);
$light: red;
$success: #7b984d;
$info: #4e353a;
$warning: #f88815;
$danger: #f44336;


@import "bootstrap/scss/bootstrap.scss"; 

// Colors
